* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(134, 221, 255);
}

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: rgba(255,255,255, 0.5);
  height: 640px;
  width: 300px;
  margin-left: 20px;
}

.scorecard {
  background: rgb(220,220,220);
  display: flex;
  flex-direction: column;
  height: 640px;
  width: 450px;
}

.score-display {
  display: grid;
  grid-template-columns: repeat(10,1fr);
  overflow: auto;
  height: 300px;
  width: 100%;
}

.display-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  min-height: 40px;
  background: #0045FF;
}

.button-group {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5,1fr); 
  background: rgb(170,170,170);
  height: 300px;
}

.span-two{
  grid-column: span 2;
}

.span-three {
  grid-column: span 3;
}

button {
  border: solid 1px black;
}

button:hover {
  cursor: pointer;
  
}

button:active {
  opacity: 0.75;
}

.gold {
  background-color: #F5FF00;
  color: black;
}

.black {
  background-color: rgb(20,20,20);
  color: white;
}

.blue {
  background-color: #0045FF;
  color: white;
}

.red {
  background-color: #FF3333;
}

.white {
  background-color: white;
}

.green {
  background-color: #00B924;
}

.end-block {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  min-height: 30px;
  padding-left: 5px;
}

.column-labels {
  display: grid;
  grid-template-columns: repeat(10,1fr);
}

.span-six {
  grid-column: span 6;
}

.arrow-value-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-collapse: collapse;
}

.end-score-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

.total-score-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;

}

.label {
  text-align: center;
  font-size: 15px;
  color: white;
}

.end-block:nth-child(odd) {
  background: rgba(255,255,21,.45);
}

.end-score-container > div:nth-child(odd) {
  background: rgba(255,255,21,.45);
}

.total-score-container > div:nth-child(odd) {
  background: rgba(255,255,21,.45);
}

.row-height {
  display: flex;
  min-height: 30px;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 100%;
  border: 1px solid black;
  padding: 5px 0;

}

.form-label {
  margin-left: 5px;
  font-weight: bold;
} 

.level-form {
  display: flex;
  flex-direction: column;
}

.form-option {
  padding: 5px;
}

.form-option > label {
  padding-left: 5px;
}

.level-submit {
  display: block;
  width: 95%;
  margin: 5px auto 0 auto;
  height: 40px;
  font-size: 14px;
}

.rules-container > p {
  margin: 5px 2px;
}


.rules-title {
  text-align: center;
  width: 100%;
  background: yellow;
  padding: 5px 0;
  margin-bottom: 10px;
}

.control-title {
  padding-top: 10px;
}

.control-buttons {
  width: 100%;
}

.mb-5 {
  margin-bottom: 5px;
}

button:disabled {
  opacity: 0.5;
}

button:disabled:hover {
  cursor: default;
}

input:hover, label:hover {
  cursor: pointer;
}

#goal-input {
  height: 30px;
  width: 50px;
  font-size: 16px;
  text-align: center;
}

.goal-button {
  font-size: 14px;
  padding: 6px;
}

.goal-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.goal-container > label {
  font-weight: bold;
}


#popup {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255, 0.75);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.popup-box {
 background:rgb(220,220,220);
 width: 400px;
 height: 180px;
 border: 1px solid black;
}

.results-header {
  text-align: center;
  padding: 5px;
  background: 
}

.popup-box > p {
  padding: 10px;
}